# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

**/AutoTest.Net/*
*.pdb
*.dll
**/Debug/*
**/Release/*
**/obj/Debug/*
**/packages/*
*.cache
*.suo
*.v11.suo
**/obj/Debug/*
*.suo
**/bin/Debug/nunit.framework.xml
TellDontAsk/Validations/obj/*
*.user
*.ncrunchproject

# Java 
*.class

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.ipch
*.opendb
Cpp/Cpp11/Cpp11.sdf
*.sdf
Cpp/Cpp11/Cpp11.sdf
*.sdf
*.class
TellDontAsk/Sessions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.ncrunchsolution
Java/pacman-randori/.idea/workspace.xml
Java/pacman-randori/.idea/modules.xml
Java/empty-pacman-randori2/.gradle/3.1/taskArtifacts/cache.properties.lock
*.bin
Java/empty-pacman-randori2/.idea/compiler.xml
Java/empty-pacman-randori2/.idea/gradle.xml
Java/empty-pacman-randori2/.idea/libraries/Gradle__junit_junit_4_12.xml
Java/empty-pacman-randori2/.idea/qaplug_profiles.xml
*.jar
Java/empty-pacman-randori2/build/reports/tests/test/classes/Specification.html
*.css
Java/empty-pacman-randori2/build/reports/tests/test/index.html
*.js
Java/empty-pacman-randori2/build/test-results/test/binary/output.bin.idx
*.MF
Java/empty-pacman-randori2/gradle/wrapper/gradle-wrapper.properties
Java/empty-pacman-randori2/gradlew.bat
Java/pacman-randori/.idea/qaplug_profiles.xml
Java/serenity-ioc/.idea/kotlinc.xml
Java/**/*.xml
Java/day_night_randori/.gradle/3.3/taskArtifacts/taskArtifacts.lock
*.lock
Java/PortsAdapters/ports-adapters-sourcesets/.gradle/*
Java/PortsAdapters/ports-adapters-sourcesets/.idea/*
Java/PortsAdapters/ports-adapters-sourcesets/build/*
Java/medicine-clash-kata/.gradle/*
Java/medicine-clash-kata/.idea/*
Java/medicine-clash-kata/build/*
*.idx
Java/test-setup-gotchas/build/reports/tests/test/index.html
Java/automated-refactorings/.gradle/*
Java/automated-refactorings/.idea/*
Java/automated-refactorings/build/*
Java/test-automation-layer-example/.gradle/*
Java/test-automation-layer-example/.idea/*
Java/test-automation-layer-example/build/*

Java/messaging-patterns/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
*.pb
*.ide
Java/**/.idea/sonarlint/**
Java/dropwizard-hello/.gradle/buildOutputCleanup/cache.properties
GCopLog.txt
Java/path-values/.gradle/buildOutputCleanup/cache.properties
Java/path-values/build/*
Java/path-values/.idea/*
Java/validations-kata/.idea/modules/test-output/*
Java/mars-rover-functional/.gradle/buildOutputCleanup/cache.properties
Java/value-objects/.gradle/buildOutputCleanup/cache.properties
Java/digits-randori/.idea/*

Java/functional-fundamentals/.gradle/buildOutputCleanup/cache.properties
Java/functional-fundamentals/build/dependencyUpdates/report.txt
Java/xunit-test-patterns/.gradle/buildOutputCleanup/cache.properties
Java/digits-randori/build/*
Java/functional-fundamentals/build/*
Java/empty-pacman-randori2/.idea/*
Java/fizz-buzz-randori/.gradle/*
Java/fizz-buzz-randori/.idea/*
CSharp/AutomatedRefactorings/.vs/AutomatedRefactorings/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
CSharp/NullIssues/**/obj/*
CSharp/NullIssues/**/bin/*
CSharp/NullIssues/.vs/*
*.ide-shm
CSharp/FizzBuzzCore/.vs/FizzBuzzCore/DesignTimeBuild/.dtbcache
CSharp/MyBot/.vs/MyBot/DesignTimeBuild/.dtbcache

**/*.csproj.nuget.g.props
**/obj/
CSharp/VotingSystem_EMPTY/.vs/VotingSystem/DesignTimeBuild/.dtbcache
CSharp/GitAttempt2/.vs/GitAttempt2/DesignTimeBuild/.dtbcache
CSharp/SpecFlowExample/.vs/SpecFlowExample/DesignTimeBuild/.dtbcache
CSharp/CommandComparison/.vs/CommandComparison/DesignTimeBuild/.dtbcache

CSharp/ValidationsKata/.vs/ValidationsKata/DesignTimeBuild/.dtbcache
CSharp/EventAnomalies/.vs/EventAnomalies/DesignTimeBuild/.dtbcache
CSharp/ImageArchivistKata/.vs/ImageArchivistKata/DesignTimeBuild/.dtbcache
CSharp/IoCContainerCons/.vs/IoCContainerCons/DesignTimeBuild/.dtbcache
CSharp/FizzBuzzCore/FizzBuzzCore/obj/project.assets.json
CSharp/FizzBuzzCore/FizzBuzzCore/obj/FizzBuzzCore.csproj.nuget.g.targets
CSharp/FizzBuzzCore/FizzBuzzCore/obj/FizzBuzzCore.csproj.nuget.g.props
CSharp/ParseDoNotValidate/ParseDoNotValidate/.vs/ParseDoNotValidate/DesignTimeBuild/.dtbcache
*.v2
CSharp/KataTrainReservationTddEbook/.vs/KataTrainReservationTddEbook/DesignTimeBuild/.dtbcache
CSharp/VotingSystem_EMPTY/.vs/VotingSystem/config/applicationhost.config
CSharp/KataTrainReservationTddEbook/_NCrunch_KataTrainReservationTddEbook/StoredText/a8dda2ac604b4e218acf89f62d00cf1d
*.v1
*.v2
CSharp/XUnitTestPatterns/.vs/XUnitTestPatterns/v17/TestStore/0/000.testlog
CSharp/XUnitTestPatterns/.vs/XUnitTestPatterns/v17/TestStore/0/testlog.manifest
CSharp/CSharpTricks/_NCrunch_CSharpTricks/*
*.testlog
*.manifest
**/.vs/**/project-colors.json
CSharp/ConsumerDrivenContracts/.vs/ConsumerDrivenContracts/config/applicationhost.config
*.vsidx
*.vsidx
*.vsidx
