# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

**/AutoTest.Net/*
*.pdb
*.dll
**/Debug/*
**/Release/*
**/obj/Debug/*
**/packages/*
*.cache
*.suo
*.v11.suo
*.txt
**/obj/Debug/*
*.suo
**/bin/Debug/nunit.framework.xml
TellDontAsk/Validations/obj/*
*.user
*.ncrunchproject

# Java 
*.class

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.ipch
*.opendb
Cpp/Cpp11/Cpp11.sdf
*.sdf
Cpp/Cpp11/Cpp11.sdf
*.sdf
*.class
TellDontAsk/Sessions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.ncrunchsolution
Java/pacman-randori/.idea/workspace.xml
Java/pacman-randori/.idea/modules.xml
Java/empty-pacman-randori2/.gradle/3.1/taskArtifacts/cache.properties.lock
*.bin
Java/empty-pacman-randori2/.idea/compiler.xml
Java/empty-pacman-randori2/.idea/gradle.xml
Java/empty-pacman-randori2/.idea/libraries/Gradle__junit_junit_4_12.xml
Java/empty-pacman-randori2/.idea/qaplug_profiles.xml
*.jar
Java/empty-pacman-randori2/build/reports/tests/test/classes/Specification.html
*.css
Java/empty-pacman-randori2/build/reports/tests/test/index.html
*.js
Java/empty-pacman-randori2/build/test-results/test/binary/output.bin.idx
*.MF
Java/empty-pacman-randori2/gradle/wrapper/gradle-wrapper.properties
Java/empty-pacman-randori2/gradlew.bat
Java/pacman-randori/.idea/qaplug_profiles.xml
Java/serenity-ioc/.idea/kotlinc.xml
Java/**/*.xml
Java/day_night_randori/.gradle/3.3/taskArtifacts/taskArtifacts.lock
